{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block content %}
<div class="container-admin">
  <h3 class="header-title">Admin Panel</h3>


  <!-- Flash messages for feedback -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == 'error' %}
  <div class="alert alert-danger" role="alert">
    {{ message }}
  </div>
  {% elif category == 'success' %}
  <div class="alert alert-success" role="alert">
    {{ message }}
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}

  <!-- Admin action buttons -->
  <div class="admin-action-buttons" style="margin-top: 50px;">
    <a href="{{ url_for('create_user_page') }}" class="btn btn-admin">Create User</a>
    <a href="{{ url_for('change_username_page') }}" class="btn btn-admin">Change Username</a>
    <a href="{{ url_for('change_password_page') }}" class="btn btn-admin">Change Password</a>
  </div>
</div>
{% endblock %}
