<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Defines the default browser tab heading -->
  <title>{% block title %}Silicon{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="icon" type="image/x-icon" href="static/images/favicon.png">
</head>

<body>
<!-- Include the header -->
{% include 'components/header.html' %}

<!-- Main content of the page -->
<div class="content">
  {% block content %}
  {% endblock %}
</div>

<!-- Include the footer -->
{% include 'components/footer.html' %}
</body>
</html>
