{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container-admin">
  <h3 class="header-title">Change Password</h3>


  <!-- Flash messages for feedback -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == 'error' %}
  <div class="alert alert-danger" role="alert">
    {{ message }}
  </div>
  {% elif category == 'success' %}
  <div class="alert alert-success" role="alert">
    {{ message }}
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}

  <form method="POST" action="{{ url_for('change_password') }}">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="Enter username"
        required
      />
    </div>
    <div class="form-group">
      <label for="new_password_change">New Password</label>
      <input
        type="password"
        class="form-control"
        id="new_password_change"
        name="new_password_change"
        placeholder="Enter new password"
        required
      />
    </div>
    <br />
    <div class="text-center">
      <button type="submit" class="btn btn-small">Change Password</button> 
  </div>
  
  <!-- Back button -->
  <div class="text-center" style="margin-top: 20px;">
      <a href="{{ url_for('admin_page') }}" class="btn-small">Back</a>
  </div>
</div>
{% endblock %}
